*{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

body {
    background-image: url("images/strawberries.jpg");
}

.logo {
    display: flex;
    margin: 15px; 
    width: 140px;
    padding: 10px; 
    background-color: white; 
    border-radius: 20px; 
}

form {
    height: 185px; 
    width: 240px; 
    text-align: center;
    background-color: #556B2F;
    color: white; 
    border-radius: 20px;
    padding: 20px;  
    margin: 10px auto;
}

.add {
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 240px;
    border-radius: 5px;
}

::placeholder {
    color: #556B2F;
}

input:focus {
    border-color: red; 
    outline: none; 
}

img {
    width: 30px;
    height: 30px; 
}

h1 {
    font-size: 25px; 
    color: #556B2F;
    margin-left: 10px; 
}

h3 {
    text-align: center; 
    font-size: 35px;
    width: 240px;
    padding: 10px 20px; 
    background-color: #556B2F;
    color: white; 
    margin: 5px auto; 
    border-radius: 20px; 
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 2px; 
}

div.item {
    width: 200px;
    height: 125px;
    padding: 5px; 
    background-color: white;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
    border-radius: 5px; 
}

.material-icons {
    text-align: end; 
    cursor: default;
}

.item-container {
    background-color: #556B2F;
    width: 240px;
    min-height: 200px; 
    padding: 20px; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
}

.quantity {
    height: 20px; 
    margin: 10px 0; 
    width: 50px; 
    display: inline-block; 
    border-radius: 5px; 
}

button {
    width: 75px;
    font-size: 16px; 
    border-radius: 5px; 
    color: #556B2F;
}

@media only screen and (min-width: 1200px) {
.logo {
    margin: 15px; 
    width: 270px;
    padding: 10px; 
}

form {
    height: 250px; 
    width: 300px;  
    position: fixed;
    margin-left: 100px; 
}

img {
    width: 50px;
    height: 50px; 
}

.add {
    height: 30px;
    width: 200px; 
    margin: 20px auto; 
}

h1 {
    font-size: 50px; 
    margin-left: 10px; 
}
    
h3 {
    font-size: 50px;
    width: 760px;
    height: 50px;  
    margin: 20px auto; 
    padding: 30px; 
}

div.item {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 15px; 
}

.item-container {
    width: 760px;
    min-height: 300px; 
    padding: 30px; 
    margin-left: 500px;
    margin-bottom: 20px; 
    flex-direction: row;
    flex-wrap: wrap;
}

.quantity {
    height: 20px; 
    margin: 10px 0; 
    width: 50px; 
}

button {
    width: 75px;
    font-size: 16px; 
}

}


